*, body{
	font-family: "Arial";
	padding-bottom: 5px;
}

.cabecera{
	background-color: #283b6d;
	padding: 15px;
	color: #efeee6;
	margin-bottom: 50px;
}
	.titulo{
		padding: 10px;
		text-align: center;
	}
	.descripcion{
		font-weight: normal;
		margin: 5px;
	}
.niko{
	overflow: hidden;
	width: 20%;
	height: 480px;
	display: inline-block;
	padding: 2%;
	background-color: grey;
	border-radius: 5%;
}

.img{
	height: 25%;
	width: 70%;
	padding: 5%;
	padding-bottom: 0px;
	border-radius: 50%;
	background-color: white;
}
.img img{
	
	width: 100%;
	height: 80%;
	border-radius: 50%;
}

.pie{
	background-color: black;
}
	.pie img{
		margin-bottom: 18px;
	}
	.cont-pie{
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
	}
	.direccion{
		text-decoration: none;
		color: #fff;
	}
